body {
  margin: 0;

  height: 100vh;

  background-color: #3e0328;
}

textarea {
  margin: 0;
  border: 0;
  padding: 0;

  resize: none;

  height: 100vh;
  min-width: 100%;

  background-color: #3e0328;
  color: white;

  font-family: "Roboto";
  font-size: 2pc;
}

textarea::placeholder {
  color: gray;

  font-family: "Roboto";
  font-size: 2pc;
}

textarea:focus {
  outline: none;
}
